<script type="text/javascript">
$(document).ready(function () {
    $('#modal_update').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) 

        var IDCliente = button.data('idcliente')
        var nombre = button.data('nombre') 
        var apodos = button.data('apodos')
        var direccion = button.data('direccion')
        var referencias = button.data('referencias')
        var telefono = button.data('telefono')
        var modal = $(this)

        modal.find('.modal-body input[name="IDCliente"]').val(IDCliente)
        modal.find('.modal-body input[name="nombre"]').val(nombre)
        modal.find('.modal-body input[name="apodos"]').val(apodos)
        modal.find('.modal-body select[name="direccion"]').val(direccion)
        modal.find('.modal-body textarea[name="referencias"]').val(referencias)
        modal.find('.modal-body input[name="telefono"]').val(telefono)
       
        $('#modal_update form').attr("action", "/clientes/edit/"+IDCliente)
    });

    $('#modal_delete').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) 
        var ID = button.data('id') 
        var modal = $(this)
        modal.find('.modal-body .id').text(ID)
        $('#modal_delete .modal-footer a').attr("href", "/clientes/delete/"+ID)
    });

    $(function() {
       $('#table').bootstrapTable()
    });
});
</script>

<div class="section">
    <div id="toolbar">
        <div class="btn-group">
            <h3>Tabla de clientes</h3>
             <button type='button' class='btn btn-success ml-4' data-toggle='modal' 
             data-target='#modal_insert' id='btn-new'> Agregar cliente</button>
        </div>
    </div>
    <div class="table-responsive">
    <table  id="table"
            data-show-toggle="true"
            data-toolbar="#toolbar"
            data-locale="es-MX"
            data-toggle="table"
            data-search="true"
            data-pagination="true"
            data-mobile-responsive="true"
            data-check-on-init="true" >
        <thead>
            <tr>
                <th data-sortable="true" data-field="id" >Clave:</th>
                <th data-sortable="true" data-field="nombre" >Nombre:</th>
                <th data-sortable="true" data-field="direccion" >Dirección:</th>
                <th data-sortable="true" data-field="telefono" >Teléfono:</th>
                <th data-sortable="true" data-field="ubicacion">Ubicacion</th>                   
                <th></th>
            </tr>
        </thead>
            <tbody> 
                {{#each clientes}}
                <tr>    
                    <td >{{IDCliente}}</td>
                    <td>{{nombreCompleto}}</td>
                    <td>{{dir}}</td>
                    <td>{{tel}}</td>
                    <td>{{lat}}, {{lng}}</td>
                    <td>
                    <div class="btn-group" role="group">
                       {{!--  <a class="btn btn-info ml-2" href="/clientes/mark/{{IDCliente}}">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </a> --}}

                        <button class="btn btn-secondary ml-2" 
                                data-target='#modal_update' 
                                data-IDCliente="{{IDCliente}}"
                                data-nombre="{{nombre}}"
                                data-apodos="{{apodos}}"
                                data-direccion="{{direccion}}"
                                data-referencias="{{referencias}}"
                                data-telefono="{{telefono}}"
                                data-toggle='modal'>
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
  
                        <button class="btn btn-danger ml-2" 
                                data-target='#modal_delete' 
                                data-id="{{IDCliente}}" 
                                data-toggle='modal'>
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </button>
                    </div>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td>
                        No hay ningún registro en la base de datos.
                    </td>
                </tr>
                {{/each}}
            </tbody>
    </table>
    </div>
</div>

<!-- Modal para agregar -->
<div class='modal fade' id='modal_insert'>	
    <div class='modal-dialog modal-xl modal-dialog-centered'>
    <div class='modal-content'>
        <form action="/clientes/add" autocomplete="off" method="POST" id="frm_add">
        <!-- Modal Header -->
        <div class='modal-header'>
            <h3 class='modal-title'>Agregar un nuevo cliente</h3>
            <button type='button' class='close' data-dismiss='modal'>&times;</button>
        </div>

        <!-- Modal body -->
        <div class='modal-body'>				
            <div class="form-group row">
                <div class="form-group col-md-6">
                    <label for="Nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" required="" pattern="[a-z A-ZñÑáéíúóÁÉÍÓÚñÑ.üÜ]{4,100}" placeholder="Nombre y apellido(s)">
                </div>
                <div class="form-group col-md-3">
                    <label for="nombresClave">Apodo(s)</label>
                    <input type="text" class="form-control" name="apodos" pattern="[a-z A-ZñÑáéíúóÁÉÍÓÚñÑ.üÜ,]{1,50}" placeholder="Apodo(s) (opcional)">
                </div>
                <div class="form-group col-md-3">
                    <label for="telefono">Teléfono</label>
                    <input type="text" class="form-control" name="telefono" pattern="[0-9]{10}" placeholder="10 digitos">
                </div>
            </div>
              
            <div class="form-group">
                <label for="map">Marca la ubicación de la vivienda del cliente en el mapa</label>
                <div id="map_mark"></div>
            </div>

            <div class="form-group">
                <label for="adress">Dirección</label>
                <textarea name="dir" class="form-control" required></textarea>    
            </div> 
            <div class="form-group row">
                <div class="form-group col-md-6">
                    <label for="lat">Latitud</label>
                    <input type="text" class="form-control" name="lat" readonly required> 
                </div>
                <div class="form-group col-md-6">
                    <label for="lng">Logitud</label>
                    <input type="text" class="form-control" name="lng" readonly required>
                </div>
            </div>
        </div> 

        <!-- Modal footer -->
        <div class="modal-footer">
            <input type="reset" class="btn btn-secondary" data-dismiss="modal" value="Cancelar" />
            <input type="submit" class="btn btn-primary" value="Guardar">
        </div>
        </form>
    </div>
    </div>
</div>

<!-- Modal para actualizar-->
<div class='modal fade' id='modal_update'>	
    <div class='modal-dialog modal-lg modal-dialog-centered'>
    <div class='modal-content'>
        <form autocomplete="off" method="POST" action="">
        <!-- Modal Header -->
        <div class='modal-header'>
            <h3 class='modal-title'>Actualizar información cliente</h3>
            <button type='button' class='close' data-dismiss='modal'>&times;</button>
        </div>

        <!-- Modal body -->
        <div class='modal-body'>
            <div class="form-group row">
                <div class="form-group col-md-7">
                    <label for="Nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" required="" pattern="[a-z A-ZñÑáéíúóÁÉÍÓÚñÑ.üÜ]{3,100}" placeholder="Nombre y apellido(s)">
                </div>
                <div class="form-group col-md-5">
                    <label for="nombresClave">Apodo(s)</label>
                    <input type="text" class="form-control" name="apodos" pattern="[a-z A-ZñÑáéíúóÁÉÍÓÚñÑ.üÜ,]{1,50}" placeholder="Apodo(s) (opcional)">
                </div>
            </div>
            <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input type="text" class="form-control" name="telefono" pattern="[0-9]{10}" placeholder="10 digitos">
            </div>
    
        </div> 

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <input type="submit" class="btn btn-info" value="Guardar cambios">
        </div>
        </form>
    </div>
    </div>
</div>

<!-- Modal para eliminar-->
<div class='modal' id='modal_delete'>	
    <div class='modal-dialog modal-dialog-centered'>
        <div class='modal-content'>

            <!-- Modal Header -->
            <div class='modal-header'>
                <h3 class='modal-title'>Confirmación para eliminar registro</h3>
            </div>

            <!-- Modal body -->
            <div class='modal-body'>
                <h5>¿Desea borrar el registro con clave <b><span class="id"></span></b> ?</h5>
            </div> 

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <a href="" class="btn btn-primary">SÍ</a>
            </div>
        </div> 
    </div>
</div>

<script>
    var gmarkers = [];
    
    function initMap() {
        const defaultLatLng = {lat: 20.250281, lng: -99.029392}
        var geocoder = new google.maps.Geocoder;
        var map = new google.maps.Map(document.getElementById('map_mark'), {
          zoom: 13,
          center: defaultLatLng,
          mapTypeId: 'hybrid',
        })

        map.addListener('click', function(e) {
            placeMarkerAndPanTo(e.latLng, map, geocoder);
        });

    }

    function placeMarkerAndPanTo(latLng, map, geocoder) {
        removeMarkers();
        var marker = new google.maps.Marker({
            position: latLng,
            map: map,
        });
        $('#frm_add input[name="lat"]').val(latLng.lat());
        $('#frm_add input[name="lng"]').val(latLng.lng());
        geocoder.geocode({ 'location': latLng }, function (results, status) {
				if (status === 'OK') {
					if (results[0]) {
                        $('#frm_add textarea[name="dir"]').val(results[0].formatted_address);
					} else {
						window.alert('No results found');
					}
				} else {
					window.alert('Geocoder failed due to: ' + status);
				}
			});
        map.panTo(latLng);
        gmarkers.push(marker);
    }

    function removeMarkers(){
        for(i=0; i<gmarkers.length; i++){
            gmarkers[i].setMap(null);
        }
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=YOURAPI&callback=initMap"
  type="text/javascript">
  
    
</script>